<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Published Date</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.publishedDate.toDateString() %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
